body {
    background-color: #F0F2F5;
    font-family: "Roboto", "Raleway", "Open Sans", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100;

    -webkit-font-smoothing: antialiased; /*chrome、safari*/

    -moz-osx-font-smoothing: grayscale; /*firefox*/
}

.navbar {
    margin-bottom: 0;
}

.navbar-default, .jumbotron {
    background-color: #F46660;
}

.navbar-default, .jumbotron a {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}


.navbar-static-top {
    border-width: 0 0 0;
}

.panel {
    border-radius: 0;
}

.panel-heading {
    background-color: #fff;
}

.panel-default > .panel-heading {
    color: #F46660;
    background-color: white;
    border-color: #ddd
}

.color-white {
    color: white;
}

.article-list {
    background-color: #fff;
    padding: 10px;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 0;
}

.article-list li {
    padding-bottom: 10px;
}

.m-t-25 {
    margin-top: 25px;
}

.title {
    font-weight: bold;
    color: #333333;
}

.article-list .title {
    font-size: 20px;
}

.desc {
    font-size: 16px;
}

.article-list .desc {
    margin-top: 15px;
    word-break: break-all;
    color: #616161;
}

.article-list .info {
    margin-top: 15px;
    color: #616161;
}

.article-list .info span {
    padding-right: 5px;
}

.icon-github {
    background: url('/default/icons/github.png') no-repeat;
    background-size: 16px 16px;

}

.icon-sina-weibo {
    background: url('/default/icons/weibo.png') no-repeat;
    background-size: 16px 16px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #F46660 !important;
    border-color: #F46660 !important;
}

#footer {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    height: 80px;
    background-color: #fafafa;
    background: -webkit-linear-gradient(#fafafa, #ffffff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fafafa #ffffff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fafafa, #ffffff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fafafa, #ffffff); /* 标准的语法 */
}

.author .author-footer {
    margin-top: 20px;
}

.author .author-avatar {
    max-width: 150px;
}

a {
    color: #34495e;
}

.markdown-preview img {
    max-width: 100%;
}

.markdown-preview table td, .markdown-preview table th {
    border: 1px solid #ddd;
    padding: 5px;
}

pre {
    padding: 0;
}